<div *ngIf="motos"  class="container">
  <div *ngFor="let moto of motos" class="card" [ngClass]="{'none': moto.venteFlash != true}">
    <mat-card class="example-card" *ngIf="moto.venteFlash == true">
      <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
     
    </mat-card-header> -->
      <img mat-card-image src="{{moto.image}}" alt="Photo moto">
      <mat-card-content class="text-center">
        <mat-card-title>{{moto.nom}}</mat-card-title>
        <p>{{moto.prix}}€</p>
      </mat-card-content>
      <mat-card-actions class="mb">
        <button mat-raised-button color="primary" [routerLink]="['/', moto.id]">ACHETER MOTO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
