
<button mat-raised-button color="primary" class="mt" [routerLink]="['/marque']">RETOUR </button>

<div class="h1">
  <h1>Motos</h1>
  </div>
<div *ngIf="motos"  class="container">
    <div *ngFor="let moto of motos" class="card" [ngClass]="{'none': moto.marque != marque}">
      <mat-card class="example-card" *ngIf="moto.marque == marque">
        <img mat-card-image src="{{moto.image}}" alt="Photo moto">
        <mat-card-content class="text-center">
          <mat-card-title>{{moto.nom}}</mat-card-title>
          <p class="price">{{moto.prix}}€</p>
        </mat-card-content>
        <mat-card-actions class="mb">
          <button mat-raised-button color="primary" [routerLink]="['/', moto.id]">ACHETER MOTO</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
