<button mat-raised-button color="primary" class="mt" [routerLink]="['/']">RETOUR </button>

<div class="h1">
<h1>Details Moto</h1>
</div>
<div *ngIf="motoDeId"  class="container">
  <div  class="card">
    <mat-card class="example-card">
      <img mat-card-image src="{{motoDeId.image}}" alt="Photo moto">
      <mat-card-content class="text-center">
        <mat-card-title>{{motoDeId.nom}}</mat-card-title>
        <p class="price">{{motoDeId.prix}}€</p>
        <p>Année: {{motoDeId.annee}}€</p>
        <p>Kilometrage: {{motoDeId.kilometres}}Km</p>
        <p>Cylindre: {{motoDeId.cylindree}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>