

body{
    position: relative;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
header .logo {
    color: #3f51b5;
    font-size: 25px;
    font-weight: bold;
}
header .logo span{
    color: #000;
}

.menu {
    display: flex;
}
.menu ul {
    margin: 0 !important;
}
.menu li {
    list-style-type: none;
    margin: 0 15px;
}
.menu li a {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    text-decoration: none;
    transition: 0.2s;
}
.menu li a:hover {
    color: #3f51b5;
}

.menu_toggle {
    display: none;
}
  /* Menu */
  header .menu.responsive {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


@media screen and (max-width:992px) {
.menu_toggle {
        display: block;
    }
    .menu {
        display: none;
    }
}

